<div class="row justify-space-between-md">
  <div class="nav">
    <h2 class="a">Login</h2>
    <form class="menu-container">
      <div class="menu-card">
        <label for="email-login">Email:</label>
        <input class="nav" type="text" id="nav-a" />
      </div>
      <div class="menu-card">
        <label for="password-label">Password:</label>
        <input class="password-input" type="password" id="password-input" />
      </div>
      <div class="card-header">
        <button class="btn-primary" type="submit">login</button>
      </div>
    </form>
  </div>
  <div class="menu-container">
    <h2 class="signup-label">Signup</h2>
    <form class="menu-card">
      <div class="card-header">
        <label for="username-label">Username:</label>
        <input class="username-input" type="text" id="username-input" />
      </div>
      <div class="card-header">
        <label for="email-label">Email:</label>
        <input class="email-input" type="text" id="email-input" />
      </div>
      <div class="card-header">
        <label for="password-label">Password:</label>
        <input class="password-input" type="password" id="password-input" />
      </div>
      <div class="card-header">
        <button class="btn-tertiary" type="submit">signup</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>