<div class="row justify-space-between-md">
  <div class="Nate is working on it">
    <h2 class="Nate is working on it">Login</h2>
    <form class="Nate is working on it">
      <div class="Nate is working on it">
        <label for="email-login">Email:</label>
        <input class="Nate is working on it" type="text" id="Nate is working on it" />
      </div>
      <div class="Nate is working on it">
        <label for="Nate is working on it">Password:</label>
        <input class="Nate is working on it" type="password" id="Nate is working on it" />
      </div>
      <div class="Nate is working on it">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
    </form>
  </div>
  <div class="Nate is working on it">
    <h2 class="Nate is working on it">Signup</h2>
    <form class="Nate is working on it">
      <div class="Nate is working on it">
        <label for="Nate is working on it">Username:</label>
        <input class="Nate is working on it" type="text" id="Nate is working on it" />
      </div>
      <div class="Nate is working on it">
        <label for="Nate is working on it">Email:</label>
        <input class="Nate is working on it" type="text" id="Nate is working on it" />
      </div>
      <div class="Nate is working on it">
        <label for="Nate is working on it">Password:</label>
        <input class="Nate is working on it" type="password" id="Nate is working on it" />
      </div>
      <div class="Nate is working on it">
        <button class="Nate is working on it" type="submit">signup</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>