<h2>Follow the signup below if you are new!</h2>

<div class="row justify-space-between-md">
  <div class="login-card">
    <h2 class="page-title">Finance Tracker Login</h2>
    <form class="form login-form">
      <div class="form-group">
        <label for="email-login">Enter an Email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">Enter A Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Login</button>
      </div>
    </form>
  </div>

<script src="./js/login.js"></script>
