:root {
    --primary: #3d5852;
    --secondary: #86938f;
    --tertiary: #5e877f;
    --quatrinary: #6c6b67;
    --light: #e3e4e3;
    --dark: #182c23;
    --error: rgb(228, 46, 1);
    --border-radius: 0.3rem;
}

body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background-color: var(--quatrinary);
}

a {
    color: var(--dark);
    text-decoration: none;
}  

a:visited {
    color: inherit;
}

nav {
    display: flex;
    background-color: var(--secondary);
}  

nav a {
    color: var(--light);
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}
 
nav a:hover {
    color: var(--secondary);
    background-color: var(--dark);
}
  
.btn-outline-secondary {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    font-size: 100%;
    transition: color 0.1s;
    margin-left: 16px;
}